<!-- add_message.html -->
{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

{% if current_user.is_authenticated %}

    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
                {{ form.subject.label }}
                {{ form.subject(class="form-control") }}
            <br/>
                {{ form.text.label }}

                {{ form.text(class="form-control", rows="10") }}
            <br/>
            <button type="submit" class="btn btn-primary">Отправить письмо администратору</button>
        </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='description') }}

    </div>
{% else %}
	<h2 style="color: white;"> Для написания администратору необходимо войти в систему...</h2>

	<a href="{{ url_for('login') }}">Вход в систему</a>
{% endif %}

{% endblock %}

