{% extends "base.html" %}

{% block content %}
    <h1>
        Статистика мероприятий
    </h1>
    <p>
        Дашборд
    </p>
    <div>
        <!-- Include the Histogram -->
        {% include 'combined_chart.html' %}
    </div>
    <div>
        <!-- Include the Bar Chart -->
        {% include 'bar_chart.html' %}
    </div>

    <div>
        <!-- Include the Pie Chart -->
        {% include 'pie_chart.html' %}
    </div>

    <div>
        <!-- Include the Histogram -->
        {% include 'histogram.html' %}
    </div>
    <div class="go_to_homepage">
        <a class="go_to_homepage" href="{{url_for('Sentinel')}}"> Перейти на главную</a>
    </div>

{% endblock %}