{% extends "base.html" %}

{% block content %}




<table style="width:100%;" >
    <tr style="width:70%;">
    <div class="main">
    <div class="dropdown">
        <h1 class="btn">Добро пожаловать!</h1>
        <a href="{{url_for('graphics')}}">
            <div class="alert alert-info" role="alert">
                Статистика мероприятий
            </div>
        </a>
        <a href="{{url_for('events')}}">
            <div class="alert alert-danger" role="alert">
                Список мероприятий
            </div>
        </a>
        <a href="{{url_for('future_works')}}">
            <div class="alert alert-warning" role="alert">
                Написать администратору
            </div>
        </a>

    </div>
    </div>


        <td>
            <img src="static/images/events.jpg"
   width="450" height="443" class="transparent25">
        </td>
    </tr>
</table>
{% endblock %}