{% extends "base.html" %}

{% block content %}
<table style="width:100%;" >
    <tr style="width:70%;">

    <div>
          <label for="address">Поиск события: <input type="text" id="address" style="width: 500px;"> </label>
		  <button id="search_button" class="button process" onclick="region_search()">Найти</button> &nbsp; &nbsp;
		  <label> Результаты вашего запроса - </label>
		  <label id="subject"> . . . </label>
		  <br>
    </div>

    <div class="main">
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <a href="{{url_for('contur_maps')}}">Прошедшие мероприятия</a>
        <a href="{{url_for('definitions')}}">Статистика мероприятий</a>
        <a href="{{url_for('subjects')}}">Предстоящие мероприятия</a>
        <a href="{{url_for('events')}}">Создать мероприятие</a>
        <a href="{{url_for('about_me')}}">Список посещённых мероприятий</a>
        <a href="{{url_for('future_works')}}">Написать администратору</a>
        </div>
    </div>
    </div>


        <td>
            <img src="static/images/events.jpg"
   width="450" height="443" class="transparent25">
        </td>
    </tr>
</table>
{% endblock %}