{% extends "base.html" %}

{% block content %}
    <h1>Созданные мероприятия</h1>
    {% if current_user.is_authenticated %}
        <a href="events" class="btn btn-secondary">Добавить мероприятие</a>
    {% endif %}
    {% for item in events %}
        <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                {{ item.content }}
            </div>
            <div>
                Автор - {{ item.user.name }}, Дата создания - {{ item.created_date }}
            </div>
            {% if current_user.is_authenticated and current_user == item.user %}
                <div>
                    <a href="/events/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/events_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="go_to_homepage">
         <a class="go_to_homepage" href="{{url_for('Geo_Core')}}"> Перейти на главную</a>
    </div>
{% endblock %}