{% extends "base.html" %}

{% block content %}
{% if current_user.id %}
  <h1>Редактирование профиля</h1>
{% else %}
  <h1>Регистрация</h1>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% if not current_user.id %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    {% endif %}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.last_name.label }}<br>
        {{ form.last_name(class="form-control") }}<br>
        {% for error in form.last_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.fathers_name.label }}<br>
        {{ form.fathers_name(class="form-control") }}<br>
        {% for error in form.fathers_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.occupation }}
        {% for error in form.occupation.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.school_num.label }}<br>
        {{ form.school_num(class="form-control") }}<br>
        {% for error in form.school_num.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.class_num.label }}<br>
        {{ form.class_num(class="form-control") }}<br>
        {% for error in form.class_num.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        <div class="card-body media align-items-center">
            {% if current_user.profile_picture %}
               <img src="{{ url_for('static', filename='images/' + current_user.profile_picture)}}"
                    width="200" height="200" >
            {% else %}
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    width="200" height="200">
            {% endif %}
        </div>
        {{ form.profile_picture.label }}<br>
        {{ form.profile_picture(class="form-control") }}<br>

    </p>
    {% if current_user.id %}
      <p>{{ form.save(type="submit", class="btn btn-primary") }}</p>
    {% else %}
      <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    {% endif %}

</form>
{% endblock %}