{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

	<h1 style="color: white;">Статистика мероприятий</h1>
	<br/>

	<div class="shadow p-3 mb-5 bg-body rounded">
		<form action="" method="POST" style="color: white;">
			{{ form.hidden_tag() }}

			{{ form.plot_type.label(class="form-label") }}

			{{ form.plot_type(class="form-control") }}
			<br/>

			{{ form.submit(class="btn btn-primary") }}

		</form>
	</div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">
                {% if plot_file_name %}
                    <img src="{{ url_for('static', filename='images/graphs/' + plot_file_name)}}" width="300" align="left">
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}